    <% @phrases.each do |phrase| %>
        <div>
          <%= phrase.content %>
          <%= phrase.japanese %>
          <%= link_to "details", group_phrase_path(group_id: phrase.group_id, id: phrase.id) %>
          <% if phrase.user_id == current_user.id %>
            <%= link_to "edit", edit_group_phrase_path(group_id: phrase.group_id, id: phrase.id), class: 'btn btn-success' %>
            <%= link_to "delete", group_phrase_path(group_id: phrase.group_id, id: phrase.id), method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </div>
    <% end %>