<div class="container my-3">
  <div class="row">
    <div class="col-8">
      <!--投稿者-->
      <div class="my-3">
        <%= link_to user_path(@phrase.user) do %>
          <%= attachment_image_tag @phrase.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60" %>
          <%= @phrase.user.name %>
        <% end %>
      </div>
      <!--フレーズ内容-->
      <div class="container border post py-3">
        <div class="row">
          <!--ブックマーク-->
          <div class="col-1">
            <%= render 'bookmarks/button', phrase: @phrase %>
          </div>
          <div class="col-11">
            <h3><%= @phrase.content %></h3>
            <h3><%= @phrase.japanese %></h3>
          </div>
        </div>

        <% if @phrase.user_id == current_user.id %>
          <%= link_to "edit", edit_group_phrase_path(group_id: @phrase.group_id, id: @phrase.id), class: 'btn btn-success' %>
          <%= link_to "delete", group_phrase_path(group_id: @phrase.group_id, id: @phrase.id), method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>

      <h4 class="my-3">Knowledges</h4>
      <% if @knowledges.present? %>
      <h5>並び替え</h5>
        <!--並び替えボタン-->
        <%= link_to 'いいねの多い順', group_phrase_path(sort_favorite: "true") %>
        <br>
        <%= link_to 'ステータスごと', group_phrase_path(sort_status: "true") %>
      <% else %>
        <p>知識を投稿しましょう</p>
      <% end %>
      <%= render "knowledges/index", knowledges: @knowledges %>
    </div>
    <div class="col-3">
      <h2>New Knowledge</h2>
      <%= render "knowledges/form", knowledge: @knowledge, phrase: @phrase %>
    </div>
  </div>
</div>
