<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>フレーズ詳細</h2>
      <%= @phrase.content %>  
      <%= @phrase.japanese %>  
      <!--ブックマーク-->
      <% if @phrase.bookmarked_by?(current_user) %>
        <%= link_to group_phrase_bookmarks_path(phrase_id: @phrase.id), method: :delete do %>
          <i class="fas fa-star"></i>            
        <% end %>
      <% else %>
        <%= link_to group_phrase_bookmarks_path(phrase_id: @phrase.id), method: :post do %>
          <i class="far fa-star"></i>
        <% end %>
      <% end %>
      
      <% if @phrase.user_id == current_user.id %>
        <%= link_to "edit", edit_group_phrase_path(group_id: @phrase.group_id, id: @phrase.id), class: 'btn btn-success' %>
        <%= link_to "delete", group_phrase_path(group_id: @phrase.group_id, id: @phrase.id), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    
      <h3>周辺知識一覧</h3>
      <%= render "knowledges/index", knowledges: @knowledges %>
    </div>
    <div class="col-md-3">
      <h2>新規周辺知識</h2>
      <%= render "knowledges/form", knowledge: @knowledge, phrase: @phrase %>
    </div>
  </div>
</div>
