<div class="container my-3">
  <h2>Group detail</h2>
  <!--グループの情報-->
  <div class="text-center">
    <%= attachment_image_tag @group, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "80x80"%>

    <table class="my-3 center">
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= @group.name %></td>
        </tr>
        <tr>
          <th>Introduction</th>
          <td><%= @group.introduction %></td>
        </tr>
        <tr>
          <th>Leader</th>
          <td><%= link_to @leader.name, user_path(@leader.id) %></td>
        </tr>
      </tbody>
    </table>

    <!--退出のリンクへ飛ぶためにIDを定義-->
     <% if GroupUser.exists?(group_id: @group.id, user_id: current_user.id) %>
      <% group_user = GroupUser.find_by(group_id: @group.id, user_id: current_user.id) %>
      <% id = group_user.id %>
     <% end %>

    <% if @group.leader_id != current_user.id %>
      <% if GroupUser.exists?(group_id: @group.id, user_id: current_user.id) %>
        <%= link_to "Leave", group_user_path(id: id, group_id: @group.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <!--以下承認機能のために付け足したコード-->
        <% if @apply %>
          <%= link_to 'Cancel', group_apply_path(@group, @apply), method: :delete, class: 'btn btn-danger text-line-none' %>
        <% else %>
          <%= link_to 'Apply', group_applies_path(@group), method: :post, class: 'btn btn-success text-line-none' %>
        <% end %>
      <% end %>
    <% else %>
      <% if @applies.present? %>
        <%= link_to "Waiting User", group_applies_path(@group), class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Edit", edit_group_path(@group.id), class: 'btn btn-primary' %>
    <% end %>
  </div>
  <!--メンバー一覧-->
  <div class="my-3">
    <h2>Member</h2>
    <%= render 'users/index', users: @users %>
  </div>
</div>
