<div class="table-responsive">
  <table class="my-3 table-hover text-nowrap">
    <thead>
        <tr>
          <th>Name</th>
          <th>Introduction</th>
          <th>Details</th>
        </tr>
    </thead>
  
    <tbody>
      <% groups.each do |group| %>
        <tr>
          <td>
            <%= link_to admin_group_phrases_path(group.id) do %>
              <%= attachment_image_tag group, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60"%>
              <%= group.name %>
            <% end %>
          </td>
          <td>
            <%= group.introduction.truncate(20) %>
          </td>
          <td>
            <%= link_to admin_group_path(group.id) do %>
            <span>Details</span>
            <% end %>
          </td>
  
          <td>
            <%= link_to "Delete", group_path(id: group.id), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>