<div class="container text-center my-3">
  
  <h2>Admin Log in</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field my-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field my-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
    <div class="actions my-3">
      <%= f.submit "Log in", class: 'btn btn-success'%>
    </div>
  <% end %>
  登録されていない方は<%= link_to "こちら", new_registration_path(resource_name) %>から登録してください。
</div>