<div class="container">
  <h2>Bookmark List</h2>
  <% @bookmarks.each do |bookmark| %>
    <div>
      <%= link_to user_path(id: bookmark.phrase.user_id) do %>
       <%= attachment_image_tag bookmark.phrase.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "40x40"%>
       <%= bookmark.phrase.user.name %>
      <% end %>

      <%= bookmark.phrase.content %>
      <%= bookmark.phrase.japanese %>

      <% if bookmark.phrase.bookmarked_by?(current_user) %>
        <%= link_to group_phrase_bookmarks_path(group_id: bookmark.phrase.group.id, phrase_id: bookmark.phrase.id), method: :delete do %>
          <i class="fas fa-star"></i>
        <% end %>
    　<% else %>
        <%= link_to group_phrase_bookmarks_path(group_id: bookmark.phrase.group.id, phrase_id: bookmark.phrase.id), method: :post do %>
          <i class="far fa-star"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>