<div class="container">
  <div class="topic text-center my-5">
    <p style="line-height: 3rem;">GoForwardは英語フレーズと周辺知識を共有するサイトです。<br>
    仲間と英語の知識を深めましょう。<br>
    まずはMy Pageからグループを作って、フレーズを投稿することから始めましょう。</p>
  </div>

  <div class="container select">
    <div class="container d-md-flex">
      <% if user_signed_in? %>
        <div><%= link_to groups_path, class:'link' do %><p>Group <i class="fas fa-users"></i></p><% end %></div>
        <div><%= link_to myphrase_path, class:"link" do %><p>Bookmark <i class="fas fa-star"></i></p><% end %></div>
        <div><%= link_to user_path(current_user.id), class:"link" do %><p>My Page <i class="fas fa-user"></i></p><% end %></div>
        <div><%= link_to destroy_user_session_path, method: :delete, class:"link" do %><p>Log out <i class="fas fa-sign-out-alt"></i></p><% end %></div>
      <% else %>
        <div><%= link_to new_user_registration_path, class:"link" do %><p>Sign up <i class="fas fa-user-plus"></i></p><% end %></div>
        <div><%= link_to new_user_session_path, class:"link" do %><p>Log in <i class="fas fa-sign-in-alt"></i></p><% end %></div>
      <% end %>
    </div>
  </div>
</div>