<div class="container">
  <div>
    GoForwardは英語フレーズとその周辺知識を共有するサイトです。みんなで英語の能力を向上させましょう.
    まずは自分のグループを作って、フレーズを投稿することから始めてみましょう。
  </div>
  
   <div>
     <% if user_signed_in? %>
        <%= link_to " Group", groups_path, class:"fas fa-home" %>
        <%= link_to " Bookmark", myphrase_path, class:"fas fa-users" %>
        <%= link_to " MyPage", user_path(current_user.id), class:"fas fa-book-open" %>
        <%= link_to " logout", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt" %>
   　 <% else %>
        <%= link_to " sign up", new_user_registration_path, class:"fas fa-user-plus" %>
        <%= link_to " login", new_user_session_path, class:"fas fa-sign-in-alt" %>
    <% end %>
   </div>
</div>