<% knowledges.each do |knowledge| %>
  <div>
    <%= knowledge.content %>
    <br>
    <%= knowledge.status %>
    <p>コメント数<%= knowledge.comments.count %>件</p>
    <!--いいね数表示-->
    <i class="fas fa-heart text-danger"><%= knowledge.favorites.count %></i>

    <%= link_to "details", admin_group_phrase_knowledge_path(phrase_id: knowledge.phrase.id, id: knowledge.id) %>
    <%= link_to "delete", group_phrase_knowledge_path(phrase_id: knowledge.phrase_id, id: knowledge.id), method: :delete, class: 'btn btn-danger' %>
  </div>
<% end %>