<div class="container my-3">
  <!--投稿者-->
  <div class="my-3 ">
    <%= link_to admin_user_path(@phrase.user) do %>
      <%= attachment_image_tag @phrase.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60" %>
      <%= @phrase.user.name %>
    <% end %>
  </div>
  <!--フレーズ-->
  <div class="container border post py-3 pl-4">
    <!--英語と訳-->
    <h3><%= @phrase.content %></h3>
    <h3><%= @phrase.japanese %></h3>
  </div>
  
  <div class="container border post py-2 pl-4 my-3">
    <%= @knowledge.content %>
    <div class="border-top">
      <%= @knowledge.status %>
      <span> コメント<%= @knowledge.comments.count %>件</span>
      <!--いいね数表示-->
      <i class="fas fa-heart text-danger"><%= @knowledge.favorites.count %></i>
      <br>
      <%= link_to "Delete", group_phrase_knowledge_path(phrase_id: @knowledge.phrase_id, id: @knowledge.id), method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>
  
  <div>
    <!--コメント一覧-->
    <h4>Comment</h4>
    <% @comments.each do |comment| %>
      <div class="border post my-2 py-2 pl-4">
        <div>
          <%= link_to user_path(comment.user.id) do %>
            <%= attachment_image_tag comment.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60"%>
            <%= comment.user.name %>
          <% end %>
        </div>
          <%= comment.content %>
        <br>
        <%= link_to "delete", group_phrase_knowledge_comment_path(knowledge_id: comment.knowledge_id, id: comment.id), method: :delete, class:'btn btn-danger' %>
      </div>
    <% end %>

  </div>
</div>