<div class="container my-3">
  <h2>Group detail</h2>
  <!--グループの情報-->
  <div class="text-center">
    <%= attachment_image_tag @group, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "80x80"%>
    <table class="my-3 center">
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= @group.name %></td>
        </tr>
        <tr>
          <th>Introduction</th>
          <td><%= @group.introduction %></td>
        </tr>
        <tr>
          <th>Leader</th>
          <td><%= link_to @leader.name, admin_user_path(@leader.id) %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "Delete", admin_group_path(id: @group.id), method: :delete, class: 'btn btn-danger' %>
  </div>
  <!--メンバー一覧-->
  <div class="my-3">
    <h2>Member</h2>
    <%= render 'admin/users/index', users: @users %>
  </div>
</div>

