  <% knowledges.each do |knowledge| %>
    <div>
      <%= knowledge.content %>
      <br>
      <%= knowledge.status %>
      <p>コメント<%= knowledge.comments.count %>件</p>
      <!--いいねボタン・数表示-->
      <%= render 'favorites/button', knowledge: knowledge %>
      
      <%= link_to "details", group_phrase_knowledge_path(phrase_id: knowledge.phrase.id, id: knowledge.id) %>
      <% if knowledge.user_id == current_user.id %>
        <%= link_to "edit", edit_group_phrase_knowledge_path(phrase_id: knowledge.phrase_id, id: knowledge.id), class: 'btn btn-success' %>
        <%= link_to "delete", group_phrase_knowledge_path(phrase_id: knowledge.phrase_id, id: knowledge.id), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
  <% end %>
