<div class="container">
  <h2>周辺知識編集</h2>
  <%= form_with url: group_phrase_knowledge_path(id: @knowledge.id), method: :patch, local:true do |f| %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div class="form-group">
      <p>どんな知識？</p>
      <%= f.select :status, Knowledge.statuses.keys.to_a %>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  <% end %>
</div>