<div class="container">
  <div>
    <%= link_to user_path(@phrase.user) do %>
      <%= attachment_image_tag @phrase.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "40x40" %>
      <%= @phrase.user.name %>
    <% end %>
    <br>
    <%= @phrase.content %>
    <br>
    <%= @phrase.japanese %>

    <!--ブックマーク登録ボタン-->
    <% if @phrase.bookmarked_by?(current_user) %>
      <%= link_to group_phrase_bookmarks_path, method: :delete do %>
        <i class="fas fa-star"></i>
        <% end %>
    <% else %>
      <%= link_to group_phrase_bookmarks_path, method: :post do %>
        <i class="far fa-star"></i>
      <% end %>
    <% end %>

  </div>
  <div>
    <%= @knowledge.status %>
    <br>
    <%= @knowledge.content %>
    <!--いいねボタン・数表示-->
    <% if @knowledge.favorited_by?(current_user) %>
      <%= link_to group_phrase_knowledge_favorites_path(phrase_id: @knowledge.phrase_id, knowledge_id: @knowledge.id), method: :delete do %>
        <i class="fas fa-heart"></i><%= @knowledge.favorites.count %>
      <% end %>
    <% else %>
      <%= link_to group_phrase_knowledge_favorites_path(phrase_id: @knowledge.phrase_id, knowledge_id: @knowledge.id), method: :post do %>
        <i class="far fa-heart"></i><%= @knowledge.favorites.count %>
      <% end %>
    <% end %>
  </div>
  <div>
    <h4>コメント</h4>
    <%= form_with url: group_phrase_knowledge_comments_path(knowledge_id: @knowledge.id), local:true do |f| %>
      <%= render 'layouts/errors', model: @comment %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    <% end %>

    <% @comments.each do |comment| %>
      <%= link_to user_path(comment.user.id) do %>
        <%= attachment_image_tag comment.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60"%>
        <%= comment.user.name %>
       <% end %>
      <br>
      <%= comment.content %>

      <% if comment.user == current_user %>
        <%= link_to "delete", group_phrase_knowledge_comment_path(knowledge_id: comment.knowledge_id, id: comment.id), method: :delete, class:'btn btn-danger' %>
      <% end %>
      <br>
    <% end %>

  </div>
</div>