<div class="container my-3">
  <!--投稿者-->
  <div class="my-3">
    <%= link_to user_path(@phrase.user) do %>
      <%= attachment_image_tag @phrase.user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60" %>
      <%= @phrase.user.name %>
    <% end %>
  </div>
  <!--フレーズ-->
  <div class="container border post py-3">
    <div class="row">
      <!--ブックマーク-->
      <div class="col-1">
        <%= render 'bookmarks/button', phrase: @phrase %>
      </div>
      <div class="col-11">
      <!--英語と訳-->
        <h3><%= @phrase.content %></h3>
        <h3><%= @phrase.japanese %></h3>
      </div>
    </div>
  </div>
  <!--知識-->
  <div class="container border post py-2 pl-4 my-3">
    <%= @knowledge.content %>
    <div class="border-top" id="knowledge_<%= @knowledge.id %>">
      <%= @knowledge.status %>
      <span class="comments-count"> コメント<%= @knowledge.comments.count %>件</span>
      <!--いいねボタン・数表示-->
      <span class="favorite-btn"><%= render 'favorites/button', knowledge: @knowledge %></span>

      <br>
      <% if @knowledge.user_id == current_user.id %>
        <%= link_to "Edit", edit_group_phrase_knowledge_path(phrase_id: @knowledge.phrase_id, id: @knowledge.id), class: 'btn btn-success' %>
        <%= link_to "Delete", group_phrase_knowledge_path(phrase_id: @knowledge.phrase_id, id: @knowledge.id), method: :delete, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <div>
    <h4>Comment</h4>
    <%= form_with url: group_phrase_knowledge_comments_path(knowledge_id: @knowledge.id) do |f| %>
      <%= render 'layouts/errors', model: @comment %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control text-area' %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    <% end %>
    <div class="comments">
    <%= render 'comments/index', comments: @comments %>
    </div>

  </div>
</div>