<div class="container">
    <h2><%= @user.name %>'s Page</h2>
  <!--ユーザーの情報-->
  <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "80x80"%>
   <table>
    <tbody>
      <tr>
        <th>User Name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>Intro</th>
        <td><%= @user.introduction %></td>
      </tr>
      <tr>
        <td>follows</td>
        <td><%= link_to user_followings_path(@user.id) do %><%= @user.followings.count %><% end %></td>
      </tr>
      <tr>
        <td>followers</td>
        <td><%= link_to user_followers_path(@user.id) do %><%= @user.followers.count %><% end %></td>
      </tr>

    </tbody>
  </table>
  
  <!--editのurlはルートがないようなので、一旦消去-->
  <!--ここでステータスを変えたい-->

  <h2>所属グループ一覧</h2>
  <table>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>
            <%= link_to group_phrases_path(group.id) do %>
              <%= attachment_image_tag group, :image, format: 'jpeg', fallback: 'no_image.jpg', size: "60x60"%>
              <%= group.name %>
            <% end %>
          </td>

          <td>
            <% if group.password %>
              <p>パスワードあり</p>
            <% else %>
              <p>パスワードなし</p>
            <% end %>
          </td>
          <td>
            <%= link_to admin_group_path(group.id) do %>
            <span>詳しく見る</span>
            <% end %>
          </td>
          <td>
            <%= link_to "削除する", group_path(id: group.id), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>